body {
  position: relative;
  /* margin: 0;
  padding: 0px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tg-theme-secondary-bg-color);
  opacity: .9;
}

body, html {
  margin: 0px;
  padding: 0px;
}


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
